p {
	text-align: justify;
}

h1{
	text-decoration: none;
	border-bottom: 4px solid #009c68;
	display: inline-block;
}

h3{
	text-decoration: underline;
	text-decoration-color: #009c68;
}

.texto-secundario {
	width: 80%;
}

#parrafo-principal {
	width: 95%;
}
